body{
    background-color:antiquewhite;
}
h1
{
    color:blue;
    font-size: 30px;
    text-align:left;
    font-family:"Currier New";
}
p{
    font-size: 1.6rem;
}
div{
    border: 3px solid blue;
    padding: 10px;
    margin: 20px;
}
*{
    box-sizing: border-box;
}
img{
    border-radius: 20px;
}